@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;600;700&family=Work+Sans:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nemek Gothic';
    src: url('./Nemek_Gothic_16.ttf');
}



.banner {
    background-image: url('/AcresBanner5.jpg');
}