@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Rethink+Sans:wght@400;600;700&family=Work+Sans:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nemek Gothic';
    src: url('/fonts/Nemek_Gothic_16.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


.acres-signup {
    background-image: url('https://images.unsplash.com/photo-1624359209425-05eb9b809795?q=80&w=1468&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.acres-account {
    background-image: url('https://images.unsplash.com/photo-1624359209425-05eb9b809795?q=80&w=1468&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.banner-heading {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

.banner-subheading {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

.banner-nav {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5)
}

.signup-header {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

.signup-label {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}
.account-info-header {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

.account-info-label {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}